exporters:
  debug:
    verbosity: detailed
receivers:
  otlp:
    protocols:
      http:
        endpoint: '0.0.0.0:4318'
service:
  pipelines:
    metrics:
      receivers:
        - otlp
      exporters:
        - debug
    logs:
      receivers:
        - otlp
      exporters:
        - debug
