@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: 12px;
  @apply font-medium text-gray-600;
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Inter-UI-Regular.woff2') format('woff2'),
    url('assets/fonts/Inter-UI-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/Inter-UI-Medium.woff2') format('woff2'),
    url('assets/fonts/Inter-UI-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/Inter-UI-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Inter-UI-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/Inter-UI-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/Inter-UI-ExtraBold.woff') format('woff');
}

.modal {
  max-width: calc(100vw - 32px);
  max-height: calc(100vh - 32px);
}

.editor ul {
  list-style-type: circle;
}
.editor ol {
  list-style-type: decimal;
}

#root,
body,
html {
  height: 100%;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}
