.DS_store
.vscode
**/*.vitest-temp.json
**/dist/**
/packages/sync-service/state/
/website/.netlify
/website/.vitepress/cache
/website/.vitepress/dist
/website/public/openapi.html
build
caching/nginx_cache
file.jsonl
integration-tests/lux_logs/
integration-tests/lux/
integration-tests/_storage
json_files
node_modules
shape-data.json
test-dbs
tsconfig.tsbuildinfo
wal
