

.codeMirror {
  height: 100%;
}
.codeMirror > div {
  height: 100%;
  max-height: 100%;
}

.mirrorWrapper {
  height: 100%;
}

.mirrorColumn {
  float: left;
  height: 100%;
  width: calc(50% - 10px);
  margin-left: 5px;
  margin-right: 5px;
}

.mirrorCtls {
  background-color: #263238;
  height: 35px;
}

.mirrorIn {
  height: calc(100% - 55px);
}

.mirrorHistory {
  height: calc(100% - 55px);
}

.mirrorOut {
  height: calc(100% - 55px);
}

.mirrorCtls button {
  position: relative;
  top: 4px;
  float: right;
  width: 110px;
  height: 25px;
  margin-right: 5px;
  font-size: 0.7rem;
}

.mirrorHeader {
  height: 20px;
  font-size: 0.9rem;
}

.headerSpan {
  margin-right: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headerSpanButton {
  color: #61dafb;
}
