{   
    "root": true,
    "env": {
        "browser": true,
        "es2020": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended"],
    "parserOptions": { "ecmaVersion": 2020, "sourceType": "module" },
    "rules": {
      "@typescript-eslint/no-explicit-any": "off"
    },
    "ignorePatterns": ["node_modules/", "dist/"]
}