@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

.electricToolbar {
  all: revert;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.toolbarLogo {
  all: revert;
  width: 30px;
  height: 30px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
