@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

.electricToolbar {
  all: revert;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.toolbarLogo {
  all: revert;
  width: 30px;
  height: 30px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.toolbarTabs {
  all: revert;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}

.toolbarTabItems {
  all: revert;
  flex-basis: 180px;
  padding: 0;
  margin: 0;
}

.toolbarTabItem {
  all: revert;
  list-style: none;
  padding: 5px;
  background-color: #333;
  color: #61dafb;
  margin-bottom: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toolbarTabItem:hover {
  background-color: #777;
}

.toolbarTabItemActive {
  background-color: #555;
  color: white;
}

.toolbarTabContent {
  all: revert;
  flex-basis: 180px;
  flex-grow: 4;
  height: 33vh;
  border-style: solid;
  border-width: 0px;
  border-radius: 2px;
  border-color: #555;
  margin-left: 20px;
}

.toolbarTabContent button {
  all: revert;
  margin-right: 10px;
  color: #61dafb;
  border-style: solid;
  border-width: 1px;
  background-color: #1c1e20;
  border-color: #61dafb;
  width: 150px;
  height: 25px;
  font-size: 0.7rem;
  border-radius: 4px;
}

.toolbarTabContent button:hover {
  background-color: rgba(97, 218, 251, 0.1);
}

.toolbarTabContent button:active {
  background-color: #61dafb;
  color: #1c1e20;
}
