.split {
  display: flex;
  min-width: 0;
  min-height: 0;
  flex: 1;
  overflow: hidden;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.pane {
  display: flex;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
