/* src/App.css */
.App {
  text-align: center;
}
.App-logo {
  height: min(132px, 30vmin);
  pointer-events: none;
  margin-top: min(30px, 5vmin);
  margin-bottom: min(30px, 5vmin);
}
.App-header {
  background-color: #1c1e20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

/* src/style.css */
body {
  margin: 0;
  font-family:
    "Helvetica Neue",
    Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1c1e20;
  min-width: 360px;
}
code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

/* src/toolbar/index.css */
#electric-toolbar {
  all: revert;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.Toolbar {
  all: revert;
  border-color: lightgrey;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  height: fit-content;
  font-family:
    "Helvetica Neue",
    Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1e20;
  color: white;
  box-sizing: border-box;
}
.Toolbar-header {
  border-color: lightgrey;
  border-width: 0 0 1px 0;
  border-style: solid;
  width: 100%;
  font-family:
    "Helvetica Neue",
    Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 30px;
  box-sizing: border-box;
}
.Toolbar-header-hidden {
  border-width: 0;
}
.Toolbar-logo {
  width: 30px;
  height: 30px;
  margin: 0;
  vertical-align: middle;
}
.Toolbar-title {
  display: inline-block;
  vertical-align: middle;
}
.nav-text {
  display: inline-block;
  vertical-align: middle;
}
.Toolbar-header button {
  height: 20px;
  margin-top: 5px;
  margin-right: 10px;
  float: right;
  color: #61dafb;
  border-style: solid;
  border-width: 0px;
  background-color: #1c1e20;
  border-color: #61dafb;
  font-size: 0.8rem;
  border-radius: 8px;
}
.Toolbar-tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}
.Toolbar-tab-items {
  flex-basis: 180px;
  padding: 0;
  margin: 0;
}
.Toolbar-tab-item {
  list-style: none;
  padding: 5px;
  background-color: #333;
  color: #61dafb;
  margin-bottom: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Toolbar-tab-item:hover {
  background-color: #777;
}
.Toolbar-tab-item-active {
  background-color: #555;
  color: white;
}
.Toolbar-tab-content {
  flex-basis: 180px;
  flex-grow: 4;
  height: 33vh;
  border-style: solid;
  border-width: 0px;
  border-radius: 2px;
  border-color: #555;
  margin-left: 20px;
}
.Toolbar-tab-content button {
  width: 180px;
  height: 30px;
  margin-right: 10px;
  float: left;
  color: #61dafb;
  border-style: solid;
  border-width: 1px;
  background-color: #1c1e20;
  border-color: #61dafb;
  font-size: 0.8rem;
  border-radius: 4px;
}
.Toolbar-tab-content button:hover {
  background-color: rgba(97, 218, 251, 0.1);
}
.Toolbar-tab-content button:active {
  background-color: #61dafb;
  color: #1c1e20;
}
#editor {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: lightgrey;
  color: black;
}

/* node_modules/xterm/css/xterm.css */
.xterm {
  cursor: text;
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.xterm.focus,
.xterm:focus {
  outline: none;
}
.xterm .xterm-helpers {
  position: absolute;
  top: 0;
  z-index: 5;
}
.xterm .xterm-helper-textarea {
  padding: 0;
  border: 0;
  margin: 0;
  position: absolute;
  opacity: 0;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  z-index: -5;
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}
.xterm .composition-view {
  background: #000;
  color: #FFF;
  display: none;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}
.xterm .composition-view.active {
  display: block;
}
.xterm .xterm-viewport {
  background-color: #000;
  overflow-y: scroll;
  cursor: default;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.xterm .xterm-screen {
  position: relative;
}
.xterm .xterm-screen canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.xterm .xterm-scroll-area {
  visibility: hidden;
}
.xterm-char-measure-element {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -9999em;
  line-height: normal;
}
.xterm.enable-mouse-events {
  cursor: default;
}
.xterm.xterm-cursor-pointer,
.xterm .xterm-cursor-pointer {
  cursor: pointer;
}
.xterm.column-select.focus {
  cursor: crosshair;
}
.xterm .xterm-accessibility,
.xterm .xterm-message {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  color: transparent;
}
.xterm .live-region {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.xterm-dim {
  opacity: 0.5;
}
.xterm-underline {
  text-decoration: underline;
}
.xterm-strikethrough {
  text-decoration: line-through;
}
.xterm-screen .xterm-decoration-container .xterm-decoration {
  z-index: 6;
  position: absolute;
}
.xterm-decoration-overview-ruler {
  z-index: 7;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.xterm-decoration-top {
  z-index: 2;
  position: relative;
}

/* src/Example.css */
.controls {
  margin-bottom: 1.5rem;
}
.button {
  display: inline-block;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  width: calc(15vw + 100px);
  margin-right: .5rem !important;
  margin-left: .5rem !important;
  border-radius: 32px;
  text-shadow: 2px 6px 20px rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 8px 0px;
  background: #1e2123;
  border: 2px solid #229089;
  color: #f9fdff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 18px;
}
.item {
  display: block;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  width: calc(30vw - 1.5rem + 200px);
  margin-right: auto;
  margin-left: auto;
  border-radius: 32px;
  border: 1.5px solid #bbb;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 8px 0px;
  color: #f9fdff;
  font-size: 13px;
  padding: 10px 18px;
}
/*! Bundled license information:

xterm/css/xterm.css:
  (**
   * Copyright (c) 2014 The xterm.js authors. All rights reserved.
   * Copyright (c) 2012-2013, Christopher Jeffrey (MIT License)
   * https://github.com/chjj/term.js
   * @license MIT
   *
   * Permission is hereby granted, free of charge, to any person obtaining a copy
   * of this software and associated documentation files (the "Software"), to deal
   * in the Software without restriction, including without limitation the rights
   * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
   * copies of the Software, and to permit persons to whom the Software is
   * furnished to do so, subject to the following conditions:
   *
   * The above copyright notice and this permission notice shall be included in
   * all copies or substantial portions of the Software.
   *
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
   * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
   * THE SOFTWARE.
   *
   * Originally forked from (with the author's permission):
   *   Fabrice Bellard's javascript vt100 for jslinux:
   *   http://bellard.org/jslinux/
   *   Copyright (c) 2011 Fabrice Bellard
   *   The original design remains. The terminal itself
   *   has been extended to include xterm CSI codes, among
   *   other features.
   *)
*/
/*# sourceMappingURL=index.css.map */
