version: "3.1"
name: "electric_dev"

services:
  postgres:
    image: pgvector/pgvector:pg14
    environment:
      POSTGRES_DB: electric
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "54321:5432"
    volumes:
      - ./postgres.conf:/etc/postgresql.conf:ro
    entrypoint:
      - docker-entrypoint.sh
      - -c
      - config_file=/etc/postgresql.conf
    extra_hosts:
      - "host.docker.internal:host-gateway"
