import Config

config :electric, Electric.VaxRepo,
  hostname: "{VX_HOST}",
  port: {AN_PORT}

config :electric, Electric.Replication.Connectors,
  {PG_HOST}: [
    producer: Electric.Replication.Postgres.LogicalReplicationProducer,
    connection: [
      host: '{PG_HOST}',
      port: {PG_PORT},
      database: 'electric',
      username: 'electric',
      password: 'password',
      replication: 'database',
      ssl: false
    ],
    replication: [
      publication: "all_tables",
      slot: "all_changes",
      electric_connection: [
        host: "{EL_HOST}",
        port: {EL_PORT},
        dbname: "test"
      ]
    ],
    downstream: [
      producer: Electric.Replication.Vaxine.LogProducer,
      producer_opts: [
        vaxine_hostname: "{VX_HOST}",
        vaxine_port: {VX_PORT}
      ]
    ]
  ]

config :logger, backends: [:console], level: :debug
