import Config

config :electric, Electric.Replication.Vaxine.DownstreamPipeline,
  hostname: "{VX_HOST}",
  port: {VX_PORT}

config :electric, Electric.VaxRepo,
  hostname: "{VX_HOST}",
  port: {AN_PORT}

config :electric, Electric.Replication.Connectors,
  {PG_HOST}: [
    producer: Electric.Replication.Postgres.LogicalReplicationProducer,
    connection: [
      host: '{PG_HOST}',
      port: {PG_PORT},
      database: 'electric',
      username: 'electric',
      password: 'password',
      replication: 'database',
      ssl: false
    ],
    replication: [
      publication: "all_tables",
      slot: "all_changes",
      electric_connection: [
        host: "{EL_HOST}",
        port: {EL_PORT},
        dbname: "test"
      ]
    ]
  ]

config :logger, backends: [:console], level: :debug

config :logger, :console,
  format: "$time $metadata[$level] $message\n",
  metadata: [:client, :connection, :slot, :origin]
