@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap');

:root, .dark {
  --vp-c-indigo-1: #D0BCFF;
  --vp-c-indigo-2: #998FE7;
  --vp-c-indigo-3: #7E78DB;

  --vp-nav-logo-height: 30px;

  --vp-c-text-1: rgba(255, 255, 245, 0.92);
  --vp-c-text-2: rgba(235, 235, 245, 0.75);
  --vp-c-text-3: rgba(235, 235, 245, 0.55);

  --electric-color: #00D2A0;
  --ddn-color: #D0BCFF;
  --pglite-color: #F6F95C;
}
.highlight {
  color: var(--vp-home-hero-name-color);
}
.muted {
  color: var(--vp-c-text-2);
  font-weight: 400;
}
.no-wrap {
  white-space: nowrap;
}
@media (min-width: 450px) {
  .no-wrap-xs {
    white-space: nowrap;
  }
}
@media (min-width: 560px) {
  .no-wrap-sm {
    white-space: nowrap;
  }
}
@media (min-width: 860px) {
  .no-wrap-md {
    white-space: nowrap;
  }
}
@media (min-width: 960px) {
  .no-wrap-lg {
    white-space: nowrap;
  }
}
@media (min-width: 1060px) {
  .no-wrap-xl {
    white-space: nowrap;
  }
}
.hidden {
  display: none !important;
}
.inline-xs,
.inline-sm
.inline-md,
.block-xs,
.block-sm,
.block-md {
  display: none !important;
}
@media (max-width: 859px) {
  .hidden-md {
    display: none !important;
  }
  .inline-md {
    display: inline !important;
  }
  .block-md {
    display: block !important;
  }
}
@media (max-width: 559px) {
  .hidden-sm {
    display: none !important;
  }
  .inline-sm {
    display: inline !important;
  }
  .block-sm {
    display: block !important;
  }
}
@media (max-width: 449px) {
  .hidden-xs {
    display: none !important;
  }
  .block-xs {
    display: block !important;
  }
  .inline-xs {
    display: inline !important;
  }
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}
.features-content {
  margin: 32px 24px 24px;
  text-align: center;
}
@media (min-width: 640px) {
  .features-content {
    margin: 48px 48px 28px;
  }
}
@media (min-width: 960px) {
  .features-content {
    margin: 64px 64px 32px;
/*    text-align: left;*/
  }
}
.vp-doc .features-content h2 {
  font-size: 28px;
  padding-top: 32px;
  line-height: 1.3;
  border: none;
}
@media (min-width: 640px) {
  .vp-doc .features-content h2 {
    font-size: 30px;
    padding-top: 36px;
  }
}
@media (min-width: 960px) {
  .vp-doc .features-content h2 {
    font-size: 32px;
    padding-top: 48px;
  }
}
.vp-doc .features-content p {
  max-width: 820px;
  color: var(--vp-c-text-2);
  font-weight: 550;
  margin-left: auto;
  margin-right: auto;
}
.vp-doc .features-content a {
  text-decoration: none;
}
.vp-doc .features-content a.header-anchor {
  display: none;
}
.home-use-cases-diagramme {
  max-width: 920px !important;
  margin: 10px auto !important;
}
.home-use-cases-diagramme img {
  width: 100%;
}
.home-use-cases-diagramme .sm-diagramme {
  margin-top: 24px;
}
@media (max-width: 449px) {
  .home-use-cases-diagramme {
    margin-left: -10px !important;
    margin-right: -10px !important;
  }
}
@media (max-width: 409px) {
  .home-use-cases-diagramme {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

.vp-doc a.VPButton {
  text-decoration: none;
}
.VPButton.pglite,
.VPButton.pglite:hover {
  background-color: var(--pglite-color);
  border-color: var(--pglite-color);
  color: var(--vp-c-bg);
}

.img-row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: row;
  margin: 20px 0;
  gap: 10px;
}
.img-row-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .img-row-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.img-border {
  border: 1px #ccc solid;
  border-radius: 10px;
  padding: 10px;
  background: rgb(20, 21, 23);
}
figure {
  margin: 40px 0;
}
figcaption {
  text-align: right;
  font-size: 90%;
  max-width: 460px;
  margin-left: auto;
}

iframe {
  color-scheme: auto;
}
.twitter-tweet {
  margin: 1rem auto -95px !important;
}
.twitter-tweet iframe {
  transform: scale(0.8);
  transform-origin: top left;
}

.VPHomeHero .VPImage.image-src {
  max-width: min(calc(250px + 25vw), 560px);
  margin-left: -40px;
  margin-top: 10px;
}
@media (max-width: 959px) {
  .VPHomeHero .image .image-container {
    height: calc(190px + 15vw) !important;
    margin-top: -20px;
  }
  .VPHomeHero .VPImage.image-src {
    margin-left: 0px;
  }
}
@media (min-width: 960px) {
  .VPHomeHero .name {
    margin-top: 3rem !important;
  }
}

.VPFeatures {
  padding-top: 15px !important;
  padding-bottom: 45px;
}

.VPFeature .VPImage {
  width: 50px;
}
.VPFeature h2.title {
  font-size: 20px;
}
.VPFeature.link[href="/product/electric"]:hover {
    border-color: var(--electric-color);
}
.VPFeature.link[href="/product/pglite"]:hover {
    border-color: var(--pglite-color);
}

.VPFeature .details {
  font-weight: 550 !important;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
.VPFeature .details .para {
  flex-grow: 1;
  margin-bottom: 0.5rem;
}

.product-icon {
  width: 84px;
  margin-bottom: 20px;
}

.about-zap {
  max-width: min(calc(150px + 25vw), 420px);
  margin: -20px 0 30px;
}
@media (max-width: 767px) {
  .about-zap-container {
    display: none;
  }
}

.vp-doc blockquote {
  margin: 25px 10px 30px;
}

.custom-block-no-title {
  margin-bottom: 10px !important;
}