export NEON_API_KEY=777lizq3wy223i4lfqt6yj73i4ytt4uwm0fcpdd38k9qrbmmpvkjwzvb1ezs0v4o
export NEON_PROJECT_ID=hidden-cloud-99592053
export ELECTRIC_ADMIN_HOST="http://localhost:8002"
export CLOUDFLARE_API_TOKEN=a1S1VvCnS8pm_y7A9Hbsqi9utAL06CEvTEvsX_8y
export CLOUDFLARE_DEFAULT_ACCOUNT_ID=bc37918e8b8c2a1879fcc9d070eebc29
export HONEYCOMB_API_KEY=0xzjqGgqsjUvzwDbD9ETRB
export CLOUDFLARE_ZONE_ID=9fbfdfa602cc34bb368530fbd03c7b6a
