# Docker images for the local stack
export POSTGRESQL_IMAGE=postgres:14-alpine
export APP_NAME=react_native
export ELECTRIC_PORT=5133
export ELECTRIC_PROXY_PORT=65432
export ELECTRIC_IMAGE=electricsql/electric@sha256:ac68b8a4adbf6ea14db8ba0027ec6bc28264887b51e293914d9f94b0cd0bec09
