CREATE OR REPLACE FUNCTION <%= @schema %>.__primary_key_list(target_oid oid)
    RETURNS text[]
    SECURITY DEFINER
    LANGUAGE SQL AS
$function$
    SELECT array_agg(attname ORDER BY array_position(indkey, attnum)) AS primary_key_list
        FROM pg_index
        JOIN pg_attribute
            ON attrelid = indrelid
            AND attnum = ANY(indkey)
            AND indisprimary
        WHERE indrelid = target_oid;
$function$;

