
CREATE OR REPLACE PROCEDURE <%= schema() %>.migration_version(_version text) SECURITY DEFINER AS $function$
BEGIN
    -- this is the user-facing api, so the priority of the version is set to the highest possible value
    CALL <%= schema() %>.assign_migration_version(_version, 32767);
END;
$function$ LANGUAGE PLPGSQL;
