# Docker images for the local stack
export POSTGRESQL_IMAGE=electricsql/postgres:latest
export VAXINE_IMAGE=electricsql/vaxine:latest
export ELECTRIC_IMAGE=electricsql/electric:latest
export LOCAL_API_IMAGE=electricsql/local-console:latest

# Environment for the CLI to use the local stack instead of cloud
export ELECTRIC_CONSOLE_URL=http://127.0.0.1:4000