name: CI
on:
  push:
    branches:
      - main
  pull_request: null
  workflow_dispatch:
    inputs:
      environment:
        type: test_name
        default: tests
        required: false

jobs:
  deps:
    name: Get all the necessary dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "24.3"
          elixir-version: "1.13"
      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.KEY_TO_ACCESS_SATELLITE_JS_PROTO }}
      - run: make deps
      - uses: actions/cache@v3
        with:
          path: |
            proto
            deps
            _build
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix

  tests:
    name: elixir tests and dialyzer
    runs-on: ubuntu-latest
    needs: deps
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "24.3"
          elixir-version: "1.13"
      - name: Prepare auxillary services
        run: make start_dev_env
      - uses: actions/cache@v3
        with:
          path: |
            proto
            deps
            _build
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix
      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.KEY_TO_ACCESS_SATELLITE_JS_PROTO }}
      - run: make pretest_compile
      - run: mix coveralls.lcov
        env:
          MIX_ENV: test
      - name: Report code coverage
        uses: zgosalvez/github-actions-report-lcov@v1
        with:
          coverage-files: cover/lcov.info
          artifact-name: code-coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Dialyzer
        run: make dialyzer
      - run: make check-format

  e2e_tests:
    name: E2E tests
    runs-on: ubuntu-latest
    needs: deps
    env:
      VAXINE_IMAGE: europe-docker.pkg.dev/vaxine/vaxine-io/vaxine:latest
    steps:
      - uses: actions/checkout@v2
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/cache@v3
        with:
          path: |
            proto
            deps
            _build
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix
      - run: make docker-build-ci
        env:
          ELECTRIC_IMAGE_NAME: ghcr.io/${{ github.repository }}/electric
          ELECTRIC_IMAGE_TAG: ${{ env.GITHUB_HEAD_REF_SLUG || 'main' }}

      - run: make lux
        working-directory: integration_tests

      - run: make vaxine
        working-directory: integration_tests

      - run: make postgres
        working-directory: integration_tests

      - run: make test
        id: tests
        working-directory: integration_tests

      - name: Upload lux logs
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: lux_logs
          path: integration_tests/lux_logs/run_*
