name: Components / Electric / Tests

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'components/electric/**'
      - '!components/electric/**README.md'

env:
  OTP_VERSION: "24.3"
  ELIXIR_VERSION: "1.13"

jobs:
  deps:
    name: Get all the necessary dependencies
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: components/electric
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          # Tags are required for proper version inference, and this is the only way to pull the tags in
          fetch-depth: 0
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.OTP_VERSION }}
          elixir-version: ${{ env.ELIXIR_VERSION }}
      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.KEY_TO_ACCESS_SATELLITE_JS_PROTO }}

      - name: Try to reuse cached deps
        id: cache-deps
        uses: actions/cache@v3
        with:
          path: components/electric/deps
          key: ${{ runner.os }}-mixdeps-${{ hashFiles('components/electric/**/mix.lock') }}

      - name: Cache compiled code
        id: cache-build
        uses: actions/cache@v3
        with:
          path: |
            components/electric/_build/*/lib
            !components/electric/_build/*/lib/electric
          key: ${{ runner.os }}-mixbuild-${{ env.OTP_VERSION }}-${{ env.ELIXIR_VERSION }}-${{ hashFiles('components/electric/**/mix.lock') }}

      - run: make deps pretest_compile

  tests:
    name: elixir tests
    runs-on: ubuntu-latest
    needs: deps
    defaults:
      run:
        working-directory: components/electric
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.OTP_VERSION }}
          elixir-version: ${{ env.ELIXIR_VERSION }}

      - name: Prepare auxiliary services
        run: make start_dev_env

      - name: Restore dependencies
        id: cache-deps
        uses: actions/cache/restore@v3
        with:
          path: components/electric/deps
          key: ${{ runner.os }}-mixdeps-${{ hashFiles('components/electric/**/mix.lock') }}

      - name: Restore compiled code
        id: cache-build
        uses: actions/cache/restore@v3
        with:
          path: |
            components/electric/_build/*/lib
            !components/electric/_build/*/lib/electric
          key: ${{ runner.os }}-mixbuild-${{ env.OTP_VERSION }}-${{ env.ELIXIR_VERSION }}-${{ hashFiles('components/electric/**/mix.lock') }}

      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.KEY_TO_ACCESS_SATELLITE_JS_PROTO }}

      - run: make pretest_compile

      - run: mix test
        env:
          MIX_ENV: test

  dialyzer:
    name: dialyzer and formatting
    runs-on: ubuntu-latest
    needs: deps
    defaults:
      run:
        working-directory: components/electric
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.OTP_VERSION }}
          elixir-version: ${{ env.ELIXIR_VERSION }}

      - name: Restore dependencies
        id: cache-deps
        uses: actions/cache/restore@v3
        with:
          path: components/electric/deps
          key: ${{ runner.os }}-mixdeps-${{ hashFiles('components/electric/**/mix.lock') }}

      - name: Restore compiled code
        id: cache-build
        uses: actions/cache/restore@v3
        with:
          path: |
            components/electric/_build/*/lib
            !components/electric/_build/*/lib/electric
          key: ${{ runner.os }}-mixbuild-${{ env.OTP_VERSION }}-${{ env.ELIXIR_VERSION }}-${{ hashFiles('components/electric/**/mix.lock') }}

      - name: Cache PLT
        uses: actions/cache@v3
        with:
          path: components/electric/_build/*/*.plt
          key: ${{ runner.os }}-plt-${{ github.ref_name }}
          restore-keys: ${{ runner.os }}-plt-

      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.KEY_TO_ACCESS_SATELLITE_JS_PROTO }}
      - run: make pretest_compile
      - name: Dialyzer
        run: make dialyzer
      - name: Check formatting
        run: make check-format
