name: Deploy All Examples To Production

on:
  workflow_dispatch:
    # This allows the workflow to be triggered manually from the GitHub Actions UI

concurrency:
  group: ${{ github.event_name == 'push' && 'prod-deploy-group' || format('examples-pr-{0}', github.event.number) }}

jobs:
  deploy-examples:
    name: Deploy All Examples to Production
    environment: 'Production'
    runs-on: ubuntu-latest

    env:
      DEPLOY_ENV: 'production'
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_DEFAULT_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_DEFAULT_ACCOUNT_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      NEON_API_KEY: ${{ secrets.NEON_API_KEY }}
      NEON_PROJECT_ID: ${{ secrets.NEON_PROJECT_ID }}
      ELECTRIC_API: ${{ secrets.ELECTRIC_API }}
      ELECTRIC_ADMIN_API: ${{ secrets.ELECTRIC_ADMIN_API }}
      ELECTRIC_TEAM_ID: ${{ secrets.ELECTRIC_TEAM_ID }}
      # HONEYCOMB_API_KEY: ${{ secrets.HONEYCOMB_API_KEY }} TODO

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".tool-versions"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Cache SST state
        uses: actions/cache@v4
        with:
          path: .sst
          key: sst-cache-main-${{ runner.os }}
          restore-keys: |
            sst-cache-main-${{ runner.os }}

      - name: Deploy proxy-auth example
        working-directory: ./examples/proxy-auth
        run: pnpm sst deploy --stage production

      - name: Deploy todo-app example
        working-directory: ./examples/todo-app
        run: pnpm sst deploy --stage production

      - name: Deploy Write Patterns example
        working-directory: ./examples/write-patterns
        run: pnpm sst deploy --stage production

      - name: Deploy Linearlite Read Only
        working-directory: ./examples/linearlite-read-only
        run: pnpm sst deploy --stage production

      - name: Deploy Linearlite
        working-directory: ./examples/linearlite
        run: pnpm sst deploy --stage production

      - name: Deploy NextJs example
        working-directory: ./examples/nextjs
        run: pnpm sst deploy --stage production
