name: Deploy Examples

on:
  push:
    branches: ["main"]
  pull_request:
    paths: ["examples/*/**"]

concurrency:
  group: ${{ github.event_name == 'push' && 'prod-deploy-group' || format('examples-pr-{0}', github.event.number) }}

jobs:
  changed-files:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.create-example-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - name: Check for changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          path: "examples"
          diff_relative: true
          dir_names: true
          dir_names_max_depth: 1
          # Whitelist examples that need to be deployed
          files: |
            yjs/**
            linearlite-read-only/**
            write-patterns/**
            nextjs/**
            todo-app/**
            proxy-auth/**
            remix/**
            
      - name: Create example matrix
        id: create-example-matrix
        run: |
          # Get changed example directories
          CHANGED_DIRS="${{ steps.changed-files.outputs.all_changed_files }}"
          
          # Initialize empty JSON array
          MATRIX='{"example":[]}'
          
          # Add each changed directory to the matrix
          if [ -n "$CHANGED_DIRS" ]; then
            for dir in $CHANGED_DIRS; do
              name=$(basename $dir)
              MATRIX=$(echo $MATRIX | jq --arg name "$name" --arg path "examples/$name" '.example += [{"name": $name, "path": $path}]')
            done
          fi
          
          # Use jq to properly format and escape the JSON
          echo "matrix=$(echo $MATRIX | jq -c '.')" >> $GITHUB_OUTPUT

  deploy:
    name: Deploy ${{ matrix.example.name }}
    environment: ${{ github.event_name == 'push' && 'Production' || 'Pull request' }}
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: changed-files
    strategy:
      matrix: ${{ fromJson(needs.changed-files.outputs.matrix) }}

    outputs:
      yjs: ${{ steps.deploy.outputs.yjs }}
      linearlite-read-only: ${{ steps.deploy.outputs.linearlite-read-only }}
      write-patterns: ${{ steps.deploy.outputs.write-patterns }}
      nextjs: ${{ steps.deploy.outputs.nextjs }}
      todo-app: ${{ steps.deploy.outputs.todo-app }}
      proxy-auth: ${{ steps.deploy.outputs.proxy-auth }}
      remix: ${{ steps.deploy.outputs.remix }}

    env:
      DEPLOY_ENV: ${{ github.event_name == 'push' && 'production' || format('pr-{0}', github.event.number) }}
      SHARED_INFRA_VPC_ID: ${{ vars.SHARED_INFRA_VPC_ID }}
      SHARED_INFRA_CLUSTER_ARN: ${{ vars.SHARED_INFRA_CLUSTER_ARN }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_DEFAULT_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_DEFAULT_ACCOUNT_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      NEON_API_KEY: ${{ secrets.NEON_API_KEY }}
      NEON_PROJECT_ID: ${{ secrets.NEON_PROJECT_ID }}
      ELECTRIC_API: ${{ secrets.ELECTRIC_API }}
      ELECTRIC_ADMIN_API: ${{ secrets.ELECTRIC_ADMIN_API }}
      ELECTRIC_TEAM_ID: ${{ secrets.ELECTRIC_TEAM_ID }}
      ELECTRIC_ADMIN_API_AUTH_TOKEN: ${{ secrets.ELECTRIC_ADMIN_API_AUTH_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".tool-versions"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Cache SST state
        uses: actions/cache@v4
        with:
          path: .sst
          key: sst-cache-${{ matrix.example.name }}-${{ runner.os }}
          restore-keys: |
            sst-cache-${{ matrix.example.name }}-${{ runner.os }}

      - name: Deploy
        id: deploy
        working-directory: ./${{ matrix.example.path }}
        run: |
          pnpm --filter @electric-sql/client --filter @electric-sql/experimental --filter @electric-sql/react run build
          pnpm sst deploy --stage ${{ env.DEPLOY_ENV }}

          if [ -f ".sst/outputs.json" ]; then
            website=$(jq -r '.website' .sst/outputs.json)
            echo "${{ matrix.example.name }}=$website" >> $GITHUB_OUTPUT
          else
            echo "sst outputs file not found. Exiting."
            exit 123
          fi

  comment:
    if: github.event_name == 'pull_request'
    needs: [changed-files, deploy]
    runs-on: ubuntu-latest
    steps:
      - name: Create PR comment with deployment URLs
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            // Get the matrix of examples that were deployed
            const matrix = JSON.parse(${{ toJSON(needs.changed-files.outputs.matrix) }})
            
            const urls = {
              yjs: "${{ needs.deploy.outputs.yjs }}",
              "linearlite-read-only": "${{ needs.deploy.outputs.linearlite-read-only }}",
              "write-patterns": "${{ needs.deploy.outputs.write-patterns }}",
              nextjs: "${{ needs.deploy.outputs.nextjs }}",
              "todo-app": "${{ needs.deploy.outputs.todo-app }}",
              "proxy-auth": "${{ needs.deploy.outputs.proxy-auth }}",
              "remix": "${{ needs.deploy.outputs.remix }}"
            }

            // Create deployments array only for examples that were deployed
            const deployments = matrix.example.map(example => ({
              name: example.name,
              url: urls[example.name]
            }))

            const commentBody = [
              "## Examples",
              ...deployments.map(d => `- ${d.name}: ${d.url || '*deploy failed*'}`),
            ].join('\n')

            const prNumber = context.issue.number
            const { data: comments } = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: prNumber,
            })

            const existingComment = comments.find(comment => comment.user.login ==='github-actions[bot]' && comment.body.startsWith("## Examples"))

            if (existingComment) {
              // Update the existing comment
              await github.rest.issues.updateComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: existingComment.id,
                body: commentBody,
              })
            } else {
              // Create a new comment if none exists
              await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: prNumber,
                body: commentBody,
              })
            }
