name: Publish Electric to Docker Hub

on:
  release:
    released:
  push:
    # TMP for testing
    # branches: ['main']
    branches: ['alco/ci-build-public-docker-images']
    # paths:
    #   - 'packages/electric-telemetry/**'
    #   - 'packages/sync-service/**'

permissions:
  contents: read
  packages: write

jobs:
  ensure_sync_service_image:
    uses: ./.github/workflows/ensure_sync_service_image.yml
    with:
      platforms: linux/amd64,linux/arm64/v8

  build_and_publish_canary_image:
    if: ${{ github.event_name == 'push' }}
    needs: [ensure_sync_service_image]
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-buildx-action@v3

      # # Login to GHCR so we can read/pull the source image if it's private.
      # # For public GHCR images, this is optional but harmless.
      # - name: Log in to GHCR
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      # Login to Docker Hub (create a token in Docker Hub, store as secret).
      #- name: Log in to Docker Hub
      #  uses: docker/login-action@v3
      #  with:
      #    registry: docker.io
      #    username: ${{ secrets.DOCKERHUB_USERNAME }}
      #    password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Publish to electricsql/electric:canary and electricsql/electric-canary
        run: |
          set -euo pipefail

          echo ${{ needs.ensure_sync_service_image.outputs.digest }}

          # Source is referenced by digest (immutable)
          SRC_IMAGE="${{ needs.ensure_sync_service_image.outputs.image }}"
          SRC_DIGEST="${{ needs.ensure_sync_service_image.outputs.digest }}"
          SRC_REF="${SRC_IMAGE}@${SRC_DIGEST}"

          TARGETS=(
            "docker.io/electricsql/electric:canary"
            "docker.io/electricsql/electric-canary:latest"
            "docker.io/electricsql/electric-canary:${{ needs.ensure_sync_service_image.outputs.tag }}"
          )

          for t in "${TARGETS[@]}"; do
            echo docker buildx imagetools create --tag "$t" "$SRC_REF"
          done
