name: TS formatting

on:
  pull_request:
    paths-ignore:
      - '**/README.md'
      - 'integration-tests/**'
      - 'packages/electric-telemetry/**'
      - 'packages/elixir-client/**'
      - 'packages/sync-service/**'

permissions:
  contents: read

jobs:
  ts_check_formatting:
    name: Check formatting of TS packages, examples and website
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check Prettier formatting
        run: pnpm run format:check

      - name: Check ESLint (all packages)
        run: pnpm run stylecheck-all
