name: TS tests

on:
  push:
    branches: ['main']
    paths-ignore:
      - 'website/**'
      - '**/README.md'
      - 'integration-tests/**'
  pull_request:
    paths-ignore:
      - 'website/**'
      - '**/README.md'
      - 'integration-tests/**'

permissions:
  contents: read
  packages: write

jobs:
  list_ts_packages:
    name: List TS packages
    runs-on: ubuntu-latest
    outputs:
      directories: ${{ steps.list_ts_packages.outputs.directories }}
    steps:
      - uses: actions/checkout@v4
      - run: echo "directories=`find packages/ -mindepth 1 -maxdepth 1 -type d -exec test -e '{}'/tsconfig.json \; -print | jq -R -s -c 'split("\n")[:-1]'`" >> $GITHUB_OUTPUT
        id: list_ts_packages

  list_examples:
    name: List examples
    runs-on: ubuntu-latest
    outputs:
      example_names: ${{ steps.list_examples.outputs.example_names }}
    steps:
      - uses: actions/checkout@v4
      - run: echo "example_names=$(find examples/ -mindepth 1 -maxdepth 2 -type f -name package.json | xargs dirname | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
        id: list_examples

  check_packages:
    name: Build and typecheck ${{ matrix.package_dir }}
    needs: [list_ts_packages]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package_dir: ${{ fromJson(needs.list_ts_packages.outputs.directories) }}
    defaults:
      run:
        working-directory: ${{ matrix.package_dir }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm -r --filter "$(jq '.name' -r package.json)^..." build
      - run: pnpm run typecheck

  image_tag:
    name: Derive the image tag for sync-service from the package source code
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.hash.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "tag=${{ hashFiles('packages/sync-service/mix.lock', 'packages/electric-telemetry/mix.lock') }}" >> $GITHUB_OUTPUT
        id: hash

  ensure_sync_service_image:
    needs: image_tag
    uses: ./.github/workflows/ensure_sync_service_image.yml
    with:
      tag: ${{ needs.image_tag.outputs.tag }}

  build_and_test_packages:
    name: 'Test ${{ matrix.package_dir }} w/ sync-service'
    needs: [list_ts_packages, ensure_sync_service_image]
    runs-on: ubuntu-latest
    # There is currently a buggy TS test that causes the job for typescript-client to get stuck
    # for 6 hours on end.
    # And it's a good practice in general to limit the test runtime and investigate at the
    # point when it starts exceeding the limit.
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        package_dir: ${{ fromJson(needs.list_ts_packages.outputs.directories) }}
    defaults:
      run:
        working-directory: ${{ matrix.package_dir }}
    env:
      ELECTRIC_DATABASE_ID: ci_test_tenant
      MIX_ENV: dev
      MIX_OS_DEPS_COMPILE_PARTITION_COUNT: 4
    services:
      postgres:
        image: 'ghcr.io/${{ github.repository }}/postgres:17-alpine-logical'
        env:
          POSTGRES_DB: electric
          POSTGRES_PASSWORD: password
        ports:
          - 54321:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      sync_service:
        image: ${{ needs.ensure_sync_service_image.outputs.image }}
        env:
          ELECTRIC_INSECURE: true
          ELECTRIC_USAGE_REPORTING: false
          ELECTRIC_ENABLE_INTEGRATION_TESTING: true
          DATABASE_URL: 'postgresql://postgres:password@postgres/electric?sslmode=disable'
        ports:
          - 3000:3000
        options: >-
          --health-cmd "curl -fsS http://localhost:3000/v1/health"
          --health-interval 30s
          --health-retries 6
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: pnpm

      - name: Install Node dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Node dependencies, if any
        run: pnpm -r --filter "$(jq '.name' -r package.json)^..." build

      - name: Run tests with coverage
        run: pnpm run coverage --run

      - name: Upload coverage reports to CodeCov
        uses: codecov/codecov-action@ad3126e916f78f00edff4ed0317cf185271ccc2d
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: typescript,unit-tests,${{ matrix.package_dir }}

      - name: Upload test results to CodeCov
        uses: codecov/test-results-action@f2dba722c67b86c6caa034178c6e4d35335f6706
        if: ${{ !cancelled() }}
        env:
          DUMMY_COMMIT_SHA: ${{ github.event.pull_request.head.sha || github.sha }}-dummy
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: typescript,unit-tests,${{ matrix.package_dir }}
          files: ./junit/test-report.junit.xml

  check_and_build_examples:
    name: Check and build ${{ matrix.example_folder }}
    needs: [list_examples, build_and_test_packages]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        example_folder: ${{ fromJson(needs.list_examples.outputs.example_names) }}
    defaults:
      run:
        working-directory: ${{ matrix.example_folder }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm -r --filter "$(jq '.name' -r package.json)^..." build
      - run: pnpm --if-present run prepare
      - run: pnpm --if-present run typecheck
      - run: pnpm --if-present run build
      - run: pnpm --if-present run test --run
